* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.map-container {
  min-height: calc(100vh - 64px);
}
.wrap-off {
  padding-top: 64px;
  @media screen and (min-width > 560px) {
    padding-top: 48px;
  }
}
#geocoder {
  position: relative;
  z-index: 9999999;
  background: #fff;
  width: 200px;
  height: 42px;
  margin: 20px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
